/***********************************************************/
/*	M.Hofherr									30.12.2024 */
/*  	   Nostal Games CSS Grundeinstellungen 	  	       */
/*						 			          style_ng.css */
/***********************************************************/


/* 								Festlegen von "custom propertys" im root. (Variablen)												*/

														/* Verwendete Websichere Farben												*/
:root {


	--col_LBL: #99c ;									/* Hellblau (C64)															*/
	--col_DBL: #369 ;									/* Dunkelblau (C64)															*/
	--col_YEL: #fc3 ;									/* Gelb																		*/
	--col_BLK: #000 ;									/* Schwarz																	*/
	--col_BGE: #ff9 ;									/* Beige																	*/
	
														/* Verwendete Schriftarten													*/
	
	--font_01: C64font, Arial, Sans-Serif  ;			/* Quellenangabe -> siehe @fontface											*/
	--font_02: Arcade, Arial, Sans-Serif  ;				/* Quellenangabe -> siehe @fontface											*/
	--font_03: Arial, Helvetica, sans-serif ;			/* Systemschrift Arial														*/
	
	--nh_FS: clamp(0.8rem, 2vw, 1.6rem) ;				/* Berechnung, Größe der "Navigations, footer Schriftart" (die Idee :)
														   angeregt durch
														   https://kulturbanause.de/blog/skalierende-texte-und-schriftgroessen/ 	*/
	--mh_FS: clamp(0.9rem, 2.2vw, 1.8rem) ;				/* Berechnung, Größe der "main" Schriftart									*/
}


/*								Festlegen eingebundener Schriftarten und Icons														*/

														/* C64 Schriftart															*/
@font-face {

	font-family:'C64font' ;
	src: url('fonts/C64_Pro-STYLE.ttf') ;				/* Quellenangabe-> https://style64.org/c64-truetype							*/
}

														/* Arcade Game Schriftart													*/
@font-face {

	font-family:'Arcade' ;
	src: url('fonts/Arcade.ttf') ;						/* Quellenangabe-> https://www.1001freefonts.com/de/arcade.font				*/
}

														/* Ionicons Icons															*/
@font-face {

	font-family:'ionicons' ;
	src: url('fonts/ionicons.ttf') ;					/* Quellenangabe-> https://ionic.io/ionicons								*/
}


/*								Anlegen verwendeter Klassen																			*/

														/* Grundeinstellung für die verwendeten "ionicons" Icons					*/
.Icons {

	font-family: ionicons ;
	font-size: calc(var(--nh_FS) * 1.2) ;				/* Berrechnung der Anzeigegrösse "Top" Pfeil footer							*/
}

														/* verbindet mehrere Wörter, um deren umbruch zu verhindern
														   eingesetzt z.B. bei links oder im footer									*/
.wordglue	{

	word-spacing: 0px ;
	white-space: nowrap;
}


/*								Einstellungen der Animationen																		*/

														/* "Header p" Textanimation "before" (Startwert)							*/
header p:before {

	content: '**** Nostal Games ****' ;					/* before content. Vorgeladener content Text (Dummy content)				*/
	animation: head 12s infinite ;
}

														/* header Animation "PLAY". Einstellungen, Zeitaufteilung, Wechseltext 		*/
@keyframes head {

	0% {content: "**** Nostal Games ****"}	
	58% {content: "**** Nostal Games ****"}	

	59% {content: "**** LetsPlay 80s ****"}
	79% {content: "**** LetsPlay 80s ****"}
	
	80% {content: "**** Games Online ****"}
	100% {content: "**** Games Online ****"}
}

														/* Berrechnung der Schriftgröße für header Text Animation					*/	
#Anim {	
	
	font-size: calc(var(--nh_FS) *0.8) ;	
}

														/* Voreinstellungen "CovAni Sprite Animation"								*/
#CovAni {

	background: url('../media/img/sprites/CoverSprite.jpg') left center ;
	margin: auto ;
}

														/* Einstellungen des body grid												*/
body {	
	
	margin: 0 ;
	padding: 0 ;
	display: grid ;
	gap: 0 ;	
	grid-template-columns: 	100vw ;
									
	grid-template-rows: 	auto
							10vh
							auto
							auto ;

	grid-template-areas:	"HEAD"
							"NAVI"
							"CONT"
							"FOOT" ;
							
	background-color: var(--col_DBL) ;
}


/***********************************************************/
/*  	 Grundeinstellungen für "@media screen and"	u.w.   */
/*			Gemeinsam genutzte Funktionen			 	   */
/*			PC, (Tablet) und Smartansicht				   */
/***********************************************************/


														/* Navigation																*/
#Navi {

	display: flex ;
	text-align: center ;
	flex-wrap: nowrap ;
	justify-content: space-evenly ;
	font-family: var(--font_01) 
}
	
														/* Schriftfarbe für alle Hyperlinks											*/
a:hover {	

	color: var(--col_YEL) ;
}

														/* Mauszeiger für "Platzhalter" ausschalten									*/	
#placebo {		
	
	color: var(--col_LBL) ;
	cursor: not-allowed ;
}

														/* "Home Button" Auf der Hauptseite html und css ausklammern				*/
/*	#HOME > a {	
				
		background-color: var(--col_DBL) ;
		padding: 0 ;
		margin: 0 ;
		text-align: center ;
}	*/

														/* Ausschalten der Text decoration bei Hyperlinks, farbe Hellblau 			*/
a {

	text-decoration: none ;
	color: var(--col_LBL) ;
	font-weight: bold ;
}

														/* Einstellungen "header" 													*/
header {
	
	grid-area: HEAD ;

	position:fixed;
	width: 100vw ;
}

														/* Einstellungen "header, footer" 											*/
header, footer {

	display: block ;
	background-color: var(--col_DBL) ;
	font-family: var(--font_01) ;
	color: var(--col_LBL) ;
	text-align: center ;
}

														/* Einstellungen für "na-menu - nav men a"									*/
nav-menu , menu-head, menu-body , nav-menu a {
	
	display: block ;
	box-sizing: border-box ;
}

														/* Zunächst maximale Ausklapphöhe auf 15em (Grundgerüst)					*/
nav-menu:hover menu-body {

	max-height: 15em ; 								
}
	
	
menu-head, nav-menu a {
	
	padding: 0.3rem ;
}

														/* default Mauszeiger über dem "menu-head"									*/
menu-head {	

	cursor: default ;
}


menu-body {
	
	max-height: 0 ; 
	overflow: hidden ;
	transition: max-height 1s ease ; 
}


footer {
	
	grid-area: FOOT ;
	
	height: 6vh ;
	font-size: calc(var(--nh_FS) * 0.7) ;				/* Berrechn. der "footer" Schriftgröße durch calc und Vari. --nh_FS			*/
	word-spacing: calc(var(--nh_FS) * 0.5) ;			/* Berechnen des Wordspacing 												*/	
}


/***********************************************************/
/*	 	  PC Ansicht ab 600px Bildschirmbreite		       */
/***********************************************************/



@media screen and ( min-width: 600px ) {
	
	
														/* Covers Sprite Animation													*/
	#CovAni {
	
		width: 240px ;
		height: 376px ;
		background-size: cover ;
		animation: C_Anim1 35s steps(6) infinite ;
	}
	
														/* Covers Sprite Animation "PLAY"											*/
	@keyframes C_Anim1 {
	
		100% { 
			background-position: -1440px ; 
		}
	}
	
														/* Einstellung "Navigation"	ab 600px										*/
	#Navi {	
	
		grid-area: NAVI ;
		
		flex-direction: row ;
		position: sticky ;
		top: calc(var(--nh_FS) * 1.8) ;					/* Berrechnung des "top" Abstandes zum Header 								*/
		padding: 0.8rem ;
		margin:0.6rem ;
		background-color: var(--col_DBL) ;
		color: var(--col_DBL) ;
		font-size: calc(var(--nh_FS) * 0.7) ;			/* Berrechn. der Navi Schriftgröße durch calc und Vari. --nh_FS				*/
	}

														/* Einstellung "Menues"	PC													*/
	nav-menu , menu-head, menu-body , nav-menu a  {
	
		width: calc(var(--nh_FS) * 6.5) ;				/* Berrechnung der Breite von "nav-menu...nav-menu a" 	 					*/
		background-color: var(--col_LBL) ;
		color: var(--col_DBL) ;
		text-align: center ;
		margin: 0 ;
	} 


	nav-menu a {
		
		background-color: var(--col_DBL) ;
		color: var(--col_LBL) ;
	}


	menu-body {	
	
		max-height: 0 ;
		overflow: hidden ;
		transition: max-height 0.5s ease ;
		font-size: calc(var(--nh_FS) * 0.6) ;			/* Berrechn. der Navi Schriftgröße durch calc und Vari. --nh_FS				*/
	}

	
	main {
		
		margin-top: calc(var(--nh_FS) * 2) ;			/* Umschalten der Schriftgrössen Berechnung	ab 600px						*/
	}

}


/***********************************************************/
/* Smart (Tablet) Ansicht bis 599.5px min Bildschirmbreite */
/***********************************************************/



@media screen and ( max-width: 599.5px )	{

														/* Covers Sprite Animation													*/
	#CovAni {
	
		width: 90px ;
		height: 141px ;
		background-size: cover ;
		animation: C_Anim2 35s steps(6) infinite ;
	}

														/* Covers Sprite Animation "PLAY"											*/
	@keyframes C_Anim2 {
	
		100% { 
			background-position: -540px ; 
		}
	}
	
	
	#Navi {
		
		flex-direction: column ;
		position: fixed ;					
		left: -10em ;									/* Navi hinter den linken Rand verschieben									*/
		width: 10.3em ;									/* Navi 0.8em lins herausziehen												*/
		top: 2em ;
		bottom: auto ;									/* Bottom flexibel halten (zur Erweiterung des Menues)						*/
		overflow: visible ;								/* Zunächst keine Scrollb. (Chrome zeigt unnschöne RIESEN Scrollb.)			*/
		border: solid 1px var(--col_BLK) ;
		border-radius: 0 1em 1em 0 ;
		box-shadow: 2px 2px 2px var(--col_BLK) ;
		background-image: linear-gradient( 45deg, var(--col_DBL), var(--col_LBL)) ;
		font-size: calc(var(--nh_FS) * 1.5) ;			/* Berrechn. der Navi Schriftgröße durch calc und Vari.	--nh_FS				*/
		transition: left 1s ease ;
	}

														/* Navi bem aufklappen, linksanschlag										*/
	#Navi:hover {
	
		left: 0 ;
	}

														/* Einstellung "Menues"	Tablet / Smart										*/
	nav-menu , menu-head, menu-body , nav-menu a {
	
		width: auto ;
		padding: 3px ;
		margin-left: 5px ;
		background-color: var(--col_DBL) ;
		color: var(--col_LBL) ;
	}

														/* auto überschreiben, zunächst feste breite des "nav-menu"					*/
	nav-menu {
	
		width: 9em ;
	}


	menu-head {
		
		background-color: var(--col_LBL) ;
		color: var(--col_DBL) ;
		font-size: calc(var(--nh_FS) * 1.2) ;			/* Berrechn. der Navi Schriftgröße durch calc und Vari. --nh_FS				*/
	}


	menu-body { 
	
		border: 1px solid var(--col_LBL) ;
		font-size: calc(var(--nh_FS) * 1) ;				/* calc derzeit unnötig, da *1, wurde zur späteren Anpassung belassen		*/
		width: auto ;
	}

														/* Zur besseren bedienbarkeit mit den Fingern (grösserer Tippbereich)		*/
	menu-body a {
	
		border: border-box ;
		padding: 10px ;
	}
	
	
	main {
		
		margin-top: calc(var(--nh_FS) * 0.2) ;			/* Berechnung, Abstand nach oben, für main									*/
	}

}


/***********************************************************/
/*  	 										  	       */
/*					Einstellungen "main"			 	   */
/*														   */
/***********************************************************/


														/* Einstellungen für beide logos											*/
#logot_top, #logo_bottom {

	object-fit: fill ;
}


h1 {
	font-family: var(--font_02) ;
}

h2 {
	font-family: var(--font_O3) ;
	font-size: calc(var(--mh_FS) * 0.8) ;				/* Berrechn. der "main" Schriftgröße durch calc und Vari. --mh_FS			*/
}


h1, h2 {
	
	margin: 0 ;
	padding: 0 ;
	text-align: center ;
}


figure {
	
	margin: 0 ;
	padding: 0 ;
	width: auto ;
	height: auto ;
}


article {
	
	display: flex ;
	justify-content:  space-evenly ;
	flex-direction: row ;
	flex-wrap: nowrap ;
	align-items: flex-start ;
	max-width: 100% ;
}


section {
	
	display: block ;
	margin: auto ;
	width: 46vw ;
	height: auto ;
	text-align: justify ;
}


p {
	padding-left: 0.5em ;
	padding-right: 0.5em ;
}


main {
	
	grid-area: CONT ;

	display: block ;
	margin-top: 0 ;
	margin-left: 4vw ;
	margin-right: 4vw ;	
	margin-bottom: 6vh ;
	padding: 0 ;
	height: auto ;
	background-color: var(--col_BGE) ;
	font-size: calc(var(--mh_FS) * 0.7) ;				/* Berrechn. der "main" Schriftgröße durch calc und Vari. --mh_FS 			*/
	color: var(--col_BLK) ;
}
