/***********************************************************/
/*	M.Hofherr									30.12.2024 */
/*  	       Games CSS Grundeinstellungen 	  	       */
/*						 			          style_tl.css */
/***********************************************************/
	


:root {														/* Festlegen von custom propertys im root. (globale Variablen)			*/

	--LBL: #99c ;											/* Verwendete Websichere Farben	C64 Hintergrund							*/
	--DBL: #369 ;
	--YEL: #fc3 ;											/* Websichere Farben, an C64 angelehnte Farbwerte						*/
	--BLK: #000 ;											/* Quelle -> https://www.c64-wiki.de/wiki/Farbe							*/
	
	--FO1: C64font ;										/* Variable für Website font											*/
	
	--VPS: clamp(0.8rem, 2vw, 1.6rem) ;						/* Berechnung der Größe von Website Objekten, Schrift (die Idee :)		
															   angeregt durch
															   https://kulturbanause.de/blog/skalierende-texte-und-schriftgroessen/ */
}


@font-face {												/* Festlegen eingebundener Schriftarten									*/
	font-family: 'C64font' ;
	src: url('fonts/C64_Pro-STYLE.ttf') ;					/* Quellenangabe-> https://style64.org/c64-truetype						*/
}


.wordglue	{												/* Behandelt mehrere Wörter, innehalb <span class="wordglue">, wie eines. 
															   Diese werden dann gemeinsam umgebrochen siehe "Über uns" im footer	*/
	word-spacing: 0px ;
	white-space: nowrap;
}


header p:before {											/* "Header p" Textanimation "before" (Startwert)						*/

	content: '**** Nostal Games ****' ;						/* before content. Vorgeladener content Text (Dummy content)			*/
	animation: head 12s infinite ;
}


@keyframes head {											/* Animations Einstellungen, Zeitaufteilung, Wechseltext				*/
	0% {content: "**** Nostal Games ****"}	
	58% {content: "**** Nostal Games ****"}	

	59% {content: "** LetsPlay 80s Style **"}
	79% {content: "** LetsPlay 80s Style **"}
	
	80% {content: "**** Games Online ****"}
	100% {content: "**** Games Online ****"}
}


#Anim {														/* Berrechnung der Schriftgröße für header Text Animation				*/		
	font-size: calc(var(--VPS) *0.8) ;	
}


body {														/* Grundeinstellungen "body" (Grid einstellungen)						*/
	display: block ;
	margin: 0 ;
	padding: 0 ;
	display: grid ;
	gap: none ;	
	grid-template-columns: 	100vw ;
									
	grid-template-rows: 	auto
							10vh
							140vh
							5vh ;

	grid-template-areas:	"HEAD"
							"NAVI"
							"CONT"
							"FOOT" ;
							
	background-color: var(--DBL) ;
	font-family: var(--FO1) ;
}


header {													/* Grundeinstellungen "header" 											*/
	grid-area: HEAD ;
	position:fixed;
	width: 100vw ;
}


header, footer {											/* Grundeinstellungen "header, footer" 									*/
	display: block ;
	background-color: var(--DBL) ;
	color: var(--LBL) ;
	text-align: center ;
}



/***********************************************************/
/*  	 Grundeinstellungen "@media screen and"	  	       */
/*			Gemeinsam genutzte Funktionen			 	   */
/*			PC, (Tablet) und Smartansicht				   */
/***********************************************************/



#Navi {														/* Navi, Flexbox														*/
	display: flex ;
	text-align: center ;
	flex-wrap: nowrap ;
	justify-content: space-evenly ;
}


#Navi a, footer a {											/* Ausschalten der Text decoration bei Hyperlinks, farbe Hellblau 		*/
	text-decoration: none ;
	color: var(--LBL) ;
}

	
#Navi a:hover, footer a:hover {								/* Schriftfarbe für alle Hyperlinks										*/
	color: var(--YEL) ;
}


#placebo {													/* Cursor für "Platzhalter" = verboten Symbol anzeigen					*/			
	cursor: not-allowed ;
}


#HOME a {													/* Home Button gleich groß, wie die restlichen Buttons					*/
	background-color: var(--DBL) ;
	color: var(--LBL) ;
	padding: 0 ;											/* Ja :) padding, margin funktionieren auch in einer Flexbox			*/
	margin: 0 ;
	text-align: center ;
}


nav-menu , menu-head, menu-body , nav-menu a {
	display: block ;
	box-sizing: border-box ;
}


nav-menu:hover menu-body {									/* Zunächst maximale Ausklapphöhe auf 15em (Grundgerüst)				*/
	max-height: 15em ; 								
}
	
	
menu-head, nav-menu a {
	padding: 0.3rem ;
}


menu-head {													/* default Mauszeiger über dem "menu-head"								*/
	cursor: default ;
}


menu-body {
	max-height: 0 ; 
	overflow: hidden ;
	transition: max-height 1s ease ; 
}



/***********************************************************/
/*	 	  PC Ansicht ab 600px Bildschirmbreite		       */
/***********************************************************/



@media screen and ( min-width: 600px ) {
	
	
	#Navi {													/* Einstellung "Navigation"	ab 600px									*/
		grid-area: NAVI ;
		
		flex-direction: row ;
		position: sticky ;
		top: calc(var(--VPS) * 1.8) ;						/* Berrechnung des "top" Abstandes zum Header 							*/
		padding: 0.8rem ;
		margin: 0.6rem ;
		background-color: var(--DBL) ;
		color: var(--DBL) ;
		font-size: calc(var(--VPS) * 0.7) ;					/* Berrechn. der Navi Schriftgröße durch calc und Vari. "--VPsize"		*/
	}


	nav-menu , menu-head, menu-body , nav-menu a  {			/* Einstellung "Menues"	PC												*/
		width: calc(var(--VPS) * 6.5) ;						/* Berrechnung der Breite von "nav-menu...nav-menu a" 	 				*/
		background-color: var(--LBL) ;
		color: var(--DBL) ;
		text-align: center ;
		margin: 0 ;
	} 


	nav-menu a {
		background-color: var(--DBL) ;
		color: var(--LBL) ;
	}


	menu-body {	
		max-height: 0 ;
		overflow: hidden ;
		transition: max-height 0.5s ease ;
		font-size: calc(var(--VPS) * 0.6) ;					/* Berrechn. der Navi Schriftgröße durch calc und Vari. "--VPsize"		*/
	}

	
	main {
		margin-top: calc(var(--VPS) * 2) ;					/* Umschalten der Schriftgrössen Berechnung	ab 600px					*/
	}


}



/***********************************************************/
/* Smart (Tablet) Ansicht bis 599.5px min Bildschirmbreite */
/***********************************************************/



@media screen and ( max-width: 599.5px )	{


	#Navi {
		flex-direction: column ;
		position: fixed ;					
		left: -10em ;										/* Navi hinter den linken Rand verschieben								*/
		width: 10.6em ;										/* Navi 0.8em lins herausziehen											*/
		top: 2em ;
		bottom: auto ;										/* Bottom flexibel halten (zur Erweiterung des Menues)					*/
		overflow: visible ;									/* Zun. keine Scrollb. (Chrome zeigt unnschöne RIESEN Scrollb.)			*/
		border: solid 2px var(--YEL) ;
		border-radius: 0 1em 1em 0 ;
		box-shadow: 2px 2px 2px var(--BLK) ;
		background-image: linear-gradient( 45deg, var(--DBL), var(--LBL)) ;
		font-size: calc(var(--VPS) * 1.5) ;					/* Berrechn. der Navi Schriftgröße durch calc und Vari. "--VPsize"		*/
		transition: left 1s ease ;
	}

	
	#Navi:hover {											/* Navi bem aufklappen, linksanschlag									*/
		left: 0 ;
	}


	nav-menu , menu-head, menu-body , nav-menu a {			/* Einstellung "Menues"	Tablet / Smart									*/
		width: auto ;
		padding: 3px ;
		margin-left: 5px ;
		background-color: var(--DBL) ;
		color: var(--LBL) ;
	}

	
	nav-menu {												/* auto überschreiben, zunächst feste breite des "nav-menu"				*/
		width: 9em ;
	}


	menu-head {
		background-color: var(--LBL) ;
		color: var(--DBL) ;
		font-size: calc(var(--VPS) * 1.2) ;					/* Berrechn. der Navi Schriftgröße durch calc und Vari. "--VPsize"		*/
	}


	menu-body { 
		border: 1px solid var(--LBL) ;
		font-size: calc(var(--VPS) * 1) ;					/* calc derzeit unnötig, da *1, wurde zur späteren Anpassung belassen	*/
		width: auto ;
	}


	menu-body a {											/* Zur besseren bedienbarkeit mit den Fingern (grösserer Tippbereich)	*/
		border: border-box ;
		padding: 10px ;
	}
	
	
	main {
		margin-top: calc(var(--VPS) * 0.2) ;				/* Berechnung, Abstand nach oben, für main								*/
	}

	
}


main {
	grid-area: CONT ;
	
	display: flex ;
	margin-left: 4vw ;
	margin-right: 4vw ;	
	background-color: var(--LBL) ;
	color: var(--DBL) ; 
	font-size: calc(var(--VPS) * 0.7) ;						/* Berrechn. der "main" Schriftgröße durch calc und Vari. "--VPsize"	*/
	padding: 0.4em ;
}


footer {
	grid-area: FOOT ;

	font-size: calc(var(--VPS) * 0.7) ;						/* Berrechn. der "footer" Schriftgröße durch calc und Vari. "--VPsize"	*/
	word-spacing: calc(var(--VPS) * 0.5) ;					/* Berechnen des Wordspacing 											*/		
	text-align: center ;
}
